<head>
    <link rel="stylesheet" href="<%= config.root %>css/connections.css">
</head>
<div class="container">
    <div class="meta">
        <div class="type">
            <%= is_category() ? __('category') : '' %>
                <%= is_tag() ? __('tag') : '' %>
        </div>
    </div>

    <h2 class="title">Connections</h2>
    <div class="divider"></div>

        <% if (page.connections && page.connections.length) { %>
            <div class="connection-cards">
                <% page.connections.forEach(connection=> { %>
                    <div class="connection-card">
                        <img class="connection-avatar" src="<%= connection.avatar %>"
                            alt="<%= connection.name %>'s avatar">
                        <div class="connection-name">
                            <%= connection.name %>
                        </div>
                        <div class="connection-desc">
                            <%= connection.description %>
                        </div>
                        <a class="connection-link" href="<%= connection.link %>" target="_blank">Visit</a>
                    </div>
                    <% }) %>
            </div>
            <!-- <% } else { %>
            <p>No connections added yet!</p>
            <% } %> -->
            <%- partial('_partial/paginator') %>
</div>